<p id="notice"><%= notice %></p>

<p>
  <strong>Title:</strong>
  <%= @book.title %>
</p>

<p>
  <strong>Page number:</strong>
  <%= @book.page_number %>
</p>

<p>
  <strong>Type:</strong>
  <%= @book.type %>
</p>

<b>Authors</b>

<% @book.authors.each do |author| %>
  <p>
    <strong>Name:</strong>
    <%= link_to author.name, author_path(author) %>
  </p>
<% end %>

<%= link_to 'Edit', edit_book_path(@book) %> |
<%= link_to 'Back', books_path %>
