<!DOCTYPE html>
<html>
  <head>
    <title>Minions</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <script src="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.js"></script>
    <link type="text/css" rel="stylesheet" href="https://cdn.firebase.com/libs/firebaseui/2.5.1/firebaseui.css" />
  </head>

  <body>

    <%= nav_bar fixed: :top do %>
      <%= menu_group do %>
          <%= menu_item "Home", "root_path" %>
          <%= menu_divider %>
          <%= drop_down "Products" do %>
              <%= menu_item "Things you can't afford", "expensive_products_path" %>
              <%= menu_item "Things that won't suit you anyway", "harem_pants_path" %>
              <%= menu_item "Things you're not even cool enough to buy anyway", "hipster_products_path" %>
          <% end %>
          <%= menu_item "About Us", "about_us_path" %>
          <%= menu_item "Contact", "contact_path" %>
      <% end %>
    <% end %>

    <div class="jumbotron">
      <h1 class="display-3">Hello, world!</h1>
      <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
      <hr class="my-4">
      <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
      <p class="lead">
        <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
      </p>
    </div>

    <%= link_to "Home", books_path %> | <%= link_to "Authors", authors_path %> |
    <%= text_field_tag "search-field", nil, placeholder: "Search", autocomplete: 'off', spellcheck: false, data: {url: search_index_path(format: :json)} %>

    <ul class="dropdown results" id='search-results'>
    </ul>

    <%= yield %>
  </body>

  <script src="https://www.gstatic.com/firebasejs/5.0.3/firebase.js"></script>
  <script>
    // Initialize Firebase
    var config = {
      apiKey: "AIzaSyCisC6chKtat83zz4jhtBFqoH5cYdRm-e4",
      authDomain: "blah-ebd5f.firebaseapp.com",
      databaseURL: "https://blah-ebd5f.firebaseio.com",
      projectId: "blah-ebd5f",
      storageBucket: "blah-ebd5f.appspot.com",
      messagingSenderId: "169146799452"
    };
    firebase.initializeApp(config);
    $("#sign_up").click(function(){
      var email = $("#email").val();
      var password = $("#password").val();
      firebase.auth().createUserWithEmailAndPassword(email, password)
        .then(function(results){
          alert("success");
          console.log(results);
          user = firebase.auth().currentUser;
          user.getToken(true);
        })
        .then(function(idToken){
          console.log(idToken);
          window.location = "/books/auth/firebasetoken/callback?id_token="+ idToken;
        })
       .catch(function (err) {
         // Handle errors
         alert(err);
         console.log(err);
       });
     });

    $("#sign_in").click(function(){
      var email = $("#email").val();
      var password = $("#password").val();
      firebase.auth().signInWithEmailAndPassword(email, password)
        .then(function(results){
          alert("success");
          console.log(results);
          user = firebase.auth().currentUser;
          user.getToken(true);
        })
        .then(function(idToken){
          console.log(idToken);
          window.location = "/books/auth/firebasetoken/callback?id_token="+ idToken;
        })
       .catch(function (err) {
         // Handle errors
         console.log(err);
       });
     });
  </script>
</html>
